<wrapper class="secondary">
  <row>
    <columns large="6">
      <img src="assets/img/global/footer1.gif" alt="60-Day Money back guarantee less shipping and handeling.">
      <spacer size="15"></spacer>
      <row>
        <columns large="6">
          <small>
            Customer Care<br>
            1 (888) 786-8723<br>
            <a href="mailto: skincare@murad.com">
              skincare@murad.com
            </a>
          </small>
        </columns>
      </row>
      <spacer size="20"></spacer>
    </columns>
    <columns large="6">
      <img src="assets/img/global/footer2.gif" alt="Connected Beauty">
      <spacer size="15"></spacer>
      <p>
        <small>
          There is a powerful connection between the mind, body and skin.
        </small>
      </p>
      <p>
        <small>
          Join the Murad family and engage with us!
        </small>
      </p>
      <row>
        <columns large="6">
          <p>
            <a href="https://www.facebook.com/MuradSkincare" target="_blank">
              <img style="display:inline;" src="assets/img/global/social_fb.gif" alt="Facebook">
            </a>
            <a href="https://twitter.com/MuradSkincare" target="_blank">
              <img style="display:inline;" src="assets/img/global/social_twit.gif" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/MuradSkincare/" target="_blank">
              <img style="display:inline;" src="assets/img/global/social_insta.gif" alt="Instagram">
            </a>
            <a href="https://www.pinterest.com/MuradSkincare/" target="_blank">
              <img style="display:inline;" src="assets/img/global/social_pin.gif" alt="pinterest">
            </a>
            <a href="https://plus.google.com/+Murad" target="_blank">
              <img style="display:inline;" src="assets/img/global/social_g.gif" alt="Google Plus">
            </a>
            <a href="https://www.youtube.com/user/muradskincare" target="_blank">
              <img style="display:inline;" src="assets/img/global/social_yt.gif" alt="YouTube">
            </a>
          </p>
        </columns>
      </row>
    </columns>
    <spacer size="10"></spacer>
  </row>
</wrapper>
